body {
    background-image: url(/bg.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 97dvh;
}

li {
    list-style-type: none;
}

button {
    min-width: 100px;
    min-height: 30px; 
    border: 2px solid black;
    border-radius: 8px;
}

td.cell:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
}

.main{
    display: flex;
    height: 775px;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: end;
    text-align: center; 
    min-width: 400px;
}

td.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 202, 202, 0.6);
    height: 70px;
    min-width: 30.3%;
    -webkit-transition: all 0.5  ease;
    -o-transition: all 0.5  ease;
    transition: all 0.5  ease;  
}

td.cell:active {
    -webkit-transform:scale(0.985);
        -ms-transform:scale(0.985);
            transform:scale(0.985)}

td {
    border: 1px solid black;
}

p {
    text-align: center;
    font-size:2rem;
    color: rgb(6, 7, 6);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.wrapper {
    background-color: rgb(10, 10, 10, 0.9);
    border: 1px solid black;
    border-radius: 8px;
    width: 350px;
}

.wrapper > p {
    text-align: right;
    padding-right: 0.5rem;
}

.container {
    min-height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

.fa-x {
    color: white;
    cursor: pointer;
    float: right;
    margin: 0.5rem;
}