
:root {
    font-size: 1rem;
}


body {
    background-image: url(/bg.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 97dvh;
}

li {
    list-style-type: none;
}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

header {
    background-color: rgba(255, 255, 255, 0.368);
    font-size: 1.75rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.main{
    display: flex;
    height: 775px;
    justify-content: center;
    align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0.25rem;
  text-align: center; 
  min-width: 300px; 
}

.cell {
  font-size: 2rem;
  border: 1px solid black;
  width: 110px;
  height: 50px;
  background: rgb(222, 221, 221);
  padding: .5em;
    -webkit-transition: all 0.5  ease;
    -o-transition: all 0.5  ease;
    transition: all 0.5  ease;  
}

.cell:active {
    -webkit-transform:scale(0.985);
        -ms-transform:scale(0.985);
            transform:scale(0.985)}

p {
    text-align: center;
    font-size:3rem;
    color: rgb(0, 0, 0);
    /* background-color: rgba(39, 29, 29, 0.368); */
}

/* overlay and modal below */

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.wrapper {
    background-color: rgb(10, 10, 10, 0.9);
    border: 1px solid black;
    border-radius: 8px;
    width: 450px;
}

.wrapper > p {
    text-align: right;
    padding-right: 0.5rem;
}

.container {
    min-height: 175px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1rem;
    margin: 0.5rem;
    padding: .5rem;
    background-color: #479740;
    cursor: pointer;
    transition: all ease 0.3s;
    border-radius: 8px;
    border: 1px solid black;
}

button:hover {
    transform: scale(1.2);
}

.fa-x {
    color:grey;
    cursor: pointer;
    float: right;
    margin: 0.5rem;
}